<ion-content>
  <app-header title="Progress" [centerTitle]="true"></app-header>

  <div class="ion-margin-vertical">
    <ion-grid class="">
      <ion-row class="">
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card-header>
            <ion-card-title>Weekly workout progress</ion-card-title>
          </ion-card-header>
          <ion-card mode="ios">
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-center">
                <circle-progress
                  [percent]="calculatePercentageDays()"
                  [radius]="65"
                  [outerStrokeWidth]="6"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'var(--ion-color-secondary)'"
                  [innerStrokeColor]="'var(--ion-color-dark)'"
                  [titleColor]="'var(--ion-color-dark)'"
                  [animation]="true"
                  [animationDuration]="300"
                  [subtitle]="'Progress'"
                ></circle-progress>
              </ion-col>
              <ion-col class="ion-text-start ion-margin-horizontal">
                  <div class="info-box">
                    <p class="title">Target days:</p>
                    <div class="target-days">
                      <ion-icon name="calendar-number"></ion-icon>
                      <p class="value">{{ weeklyUserCount }}/{{ weeklyWorkoutsTargets }}</p>
                    </div>
                    <p class="title">Longer sequence:</p>
                    <p class="value">10 Days</p>
                  </div>

              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card-header>
            <ion-card-title>Total workout progress</ion-card-title>
          </ion-card-header>
          <ion-card mode="ios">
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-center">
                <circle-progress
                  [percent]="calculatePercentageWorkout()"
                  [radius]="65"
                  [outerStrokeWidth]="6"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'var(--ion-color-secondary)'"
                  [innerStrokeColor]="'var(--ion-color-dark)'"
                  [titleColor]="'var(--ion-color-dark)'"
                  [animation]="true"
                  [animationDuration]="300"
                  [subtitle]="'Progress'"
                ></circle-progress>
              </ion-col>
              <ion-col class="ion-text-start ion-margin-horizontal">
                <div class="info-box">
                  <p class="title">Total Workouts:</p>
                  <div class="total-workouts">
                    <ion-icon slot="start" name="barbell-outline"></ion-icon>
                    <p class="value">{{ workoutCount }}</p>
                  </div>
                  <p class="title">Completeds:</p>
                  <div class="total-workouts">
                    <ion-icon slot="start" name="checkmark-outline"></ion-icon>
                    <p class="value">{{ completedWorkoutsCount }}</p>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col sizeLg="6" sizeMd="6" sizeSm="12" size="12">
          <ion-card-header>
            <ion-card-title>Weight target progress</ion-card-title>
          </ion-card-header>
          <ion-card mode="ios">
            <ion-row class="ion-justify-content-center">
              <ion-col class="ion-text-center">
                <circle-progress
                  [percent]="calculatePercentageWeight()"
                  [radius]="65"
                  [outerStrokeWidth]="6"
                  [innerStrokeWidth]="4"
                  [outerStrokeColor]="'var(--ion-color-secondary)'"
                  [innerStrokeColor]="'var(--ion-color-dark)'"
                  [titleColor]="'var(--ion-color-dark)'"
                  [animation]="true"
                  [animationDuration]="300"
                  [subtitle]="'Progress'"
                ></circle-progress>
              </ion-col>
              <ion-col class="ion-text-start ion-margin-horizontal">

                  <div class="info-box">
                    <p class="title">Target Weight:</p>
                    <div class="target-wheight">
                      <img src="assets/icon/weight-filled.png" alt="">
                      <p class="value">{{ user.weight }}/{{ targetWeight }} kg</p>
                    </div>
                    <p *ngIf="weightToGainOrLose > 0" class="title">Weight to gain:</p>
                    <p *ngIf="weightToGainOrLose < 0" class="title">Weight to lose:</p>
                    <p *ngIf="weightToGainOrLose === 0" class="title">Target achieved!</p>
                    <p *ngIf="weightToGainOrLose !== 0" class="value">
                      {{ weightToGainOrLose > 0 ? '+' : '' }}{{ weightToGainOrLose }} kg
                    </p>
                    <p *ngIf="weightToGainOrLose === 0" class="value">
                      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
                    </p>
                  </div>

              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
