<div class="content">
  <div class="level-container">
    <div class="title ion-text-center">
      <ion-label>Your Progress: {{ completedChallengesPercentage }}%</ion-label>
    </div>
    <ion-range value="{{ completedChallengesPercentage }}"></ion-range>
  </div>

  <div (click)="toggleAccordion('1')" class="card-title ion-margin-vertical">
    <ion-label color="dark">Ongoing</ion-label>
    <ion-icon
      color="secondary"
      name="chevron-down"
      [style.transform]="isAccordionOpen('1') ? 'rotate(180deg)' : 'rotate(0deg)'"
    ></ion-icon>
  </div>

  <form [formGroup]="challengeForm">
    <div *ngIf="isAccordionOpen('1')" class="card-challenges animate">
      <div formArrayName="challenges">
        <div *ngIf="challengeForm.get('challenges')['controls'].length === 0">
          <ion-card mode="ios">
            <div class="card-content">
              <img src="assets/icon/tarefa-concluida.png" class="exercise-image"/>
                <div class="challenge-details">
                  <ion-card-title>All the challenges have already been completed!</ion-card-title>
                </div>
            </div>
          </ion-card>
        </div>
        <div
          *ngFor="let challenge of challengeForm.get('challenges')['controls'];
          let i = index" [formGroupName]="i"
        >
          <ion-card [button]="true" mode="ios">
            <div class="card-content">
              <img src="{{ challenge.get('image').value }}" class="exercise-image"/>
              <div class="challenge-details">
                <ion-card-title>{{challenge.get("title").value}}</ion-card-title>
                <ion-card-subtitle mode="ios">
                  {{ userWorkoutsCount }}/{{ challenge.get("target").value }} -
                  {{ challenge.get("xp").value }}
                </ion-card-subtitle>
              </div>
              <ion-checkbox
                formControlName="completed"
                slot="end"
                mode="md"
                (ionChange)="onCheckboxChange(i)"
              ></ion-checkbox>
            </div>
          </ion-card>
        </div>
      </div>
    </div>

    <div (click)="toggleAccordion('2')" class="card-title ion-margin-vertical">
      <ion-label color="dark">Completed</ion-label>
      <ion-icon
        color="secondary"
        name="chevron-down"
        [style.transform]="
          isAccordionOpen('2') ? 'rotate(180deg)' : 'rotate(0deg)'
        "
      ></ion-icon>
    </div>

    <div *ngIf="isAccordionOpen('2')" class="card-challenges animate">
      <ion-card
        *ngFor="let challenge of completedChallenges"
        [button]="true"
        mode="ios"
      >
        <div class="card-content">
          <img src="assets/icon/icons8-troféu-70.png" class="exercise-image"/>
          <div class="challenge-details">
            <ion-card-title>{{ challenge.title }}</ion-card-title>
            <ion-card-subtitle mode="ios">
              {{ challenge.target }}/{{ challenge.target }} - {{ challenge.xp }}
            </ion-card-subtitle>
          </div>
          <ion-checkbox slot="end" mode="md" checked="true" disabled="true"></ion-checkbox>
        </div>
      </ion-card>
    </div>

    <ion-footer class="footer">
      <div class="button-save">
        <ion-button
          (click)="submit()"
          [disabled]="completedChallengesIndices.length === 0"
          shape="round"
        >
          Save changes
        </ion-button>
      </div>
    </ion-footer>
  </form>
</div>
