<ion-content>
  <app-header
    backButton="tabs/profile"
    titleButton="Edit Profile"
    [centerTitle]="true"
  ></app-header>

  <div class="content">
    <div class="user">
      <div class="user-content">
        <ion-icon class="user" name="person-circle-outline"></ion-icon>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="options">
        <ion-item lines="none">
          <ion-label position="stacked">First Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Email</ion-label>
          <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Height (cm)</ion-label>
          <ion-input formControlName="height" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Weight (kg)</ion-label>
          <ion-input formControlName="weight" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Age</ion-label>
          <ion-input formControlName="age" type="text"></ion-input>
        </ion-item>
      </div>
    </form>
  </div>

</ion-content>
<ion-footer>
  <div class="button-save">
    <ion-button class="ion-margin" (click)="submit()" [disabled]="form.invalid" shape="round">
      Save changes
    </ion-button>
  </div>
</ion-footer>
