<ion-content [fullscreen]="true">
  <!-- <app-header title="Welcome, Vini"></app-header> -->
  <div class="title">
    <h1>WELCOME, {{user.name}}!</h1>
    <h4>{{ currentDate }}</h4>
  </div>

  <div class="content">
    <div>
      <div>
        <ion-card-header>
          <ion-card-title>My workouts</ion-card-title>
        </ion-card-header>
      </div>
      <ion-card mode="ios" class="card-workouts" routerLink="workouts">
        <div class="card-content">
          <ion-card-content>
            <h1>Your workouts in one place</h1>
            <h2>| Make it happen</h2>
          </ion-card-content>
        </div>
      </ion-card>
    </div>

    <div>

      <ion-card-header>
        <ion-card-title>Workout categories</ion-card-title>
      </ion-card-header>

      <ion-card *ngFor="let trainning of trainings" class="card-categories" (click)="selectedTraining(trainning)">
        <div class="card-content">
          <ion-card-content>
            <h1>{{ trainning.title }}</h1>
            <h2>| {{ trainning.quantify }}</h2>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
