<ion-content [fullscreen]="true">
  <app-header
    backButton="tabs/profile"
    titleButton="Support"
    [centerTitle]="true"
  ></app-header>

  <div class="options">
    <ion-item lines="none">
      <ion-label>email@gmail.com</ion-label>
      <ion-icon color="secondary" slot="start" name="mail-outline"></ion-icon>
    </ion-item>
    <ion-item lines="none">
      <ion-label>(79) 99999-9999</ion-label>
      <ion-icon color="secondary" slot="start" name="call-outline"></ion-icon>
    </ion-item>
  </div>
  
</ion-content>
