.options {
  margin: 40px 20px 0px 20px;

  ion-item {
    padding: 5px 0 5px 0;
    border-top: 1px solid var(--ion-color-item-border);
  }
  border-bottom: 1px solid var(--ion-color-item-border);
}

