<ion-content [fullscreen]="true">
  <app-header
    backButton="tabs/home"
    [centerTitle]="true"
    titleButton="Workouts"
  ></app-header>

  <div class="content">
    <ion-button
      (click)="addOrSelectedWorkout()"
      class="btn btn-color ion-padding-start ion-margin-vertical"
      mode="ios"
    >
      Create training
      <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    </ion-button>

    <div class="workouts">
      <div>
        <ion-card-header>
          <div class="header-content">
            <ion-card-title>Completeds: </ion-card-title>
            <h3>{{ completedWorkoutsCount }}</h3>
          </div>
        </ion-card-header>
      </div>
      <ion-card mode="ios" class="">
        <div class="scrollable-list">
          <ion-item *ngFor="let workout of workouts">
            <ion-label class="ion-no-margin">{{ workout.title }}</ion-label>
            <ion-button
              (click)="addOrSelectedWorkout(workout)"
              slot="end"
              fill="clear"
              size="small"
            >
              <ion-icon
                color="secondary"
                slot="icon-only"
                name="eye-outline"
              ></ion-icon>
            </ion-button>
            <ion-button (click)="confirmDeleteWorkout(workout)" slot="end" fill="clear" size="small">
              <ion-icon
                color="secondary"
                slot="icon-only"
                name="trash-outline"
              ></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
