.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  ion-icon {
    height: 130px;
    width: 130px;
  }

  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
}

.options {
  margin: 40px 10px 0px 10px;
  padding: 0;
  width: 95%;
  ion-item {
    padding: 5px 0 5px 0;
    border-top: 1px solid var(--ion-color-item-border);
  }
  border-bottom: 1px solid var(--ion-color-item-border);
}

.sign-out {
  position: absolute;
  bottom: 0;
  margin: 0 10px 0px 10px;
  padding: 5px 0 5px 0;
  border-top: 1px solid var(--ion-color-item-border);
  border-bottom: 1px solid var(--ion-color-item-border);
  text-align: start;
  width: 95%;

}

.sign-out-button {
  font-size: 18px;
}


.info-boxes {
  display: flex;
  justify-content: center;
}

.info-box {
  width: 80px;
  height: 80px;
  margin: 20px 10px 5px 10px;
  border-radius: 10px;
  background: var(--ion-color-light-tint);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
}

.value {
  font-size: 18px;
  font-weight: bold;
  color: var(--ion-color-secondary);
}

.label {
  font-size: 14px;
}
